
<div class="col-masonry">
  <div class="panel b m0">
    <div class="panel-heading">
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col">
          <a>
            <img class="img-responsive img-thumbnail" src="{{categoryDetails.image}}" alt="Image" />
          </a>
        </div>
        <div class="col">
          <div class="row">
            <div class="col-lg-3">
              <span class="media-heading font-weight-bold">Name :</span>
            </div>
            <div class="col-lg-9">
              <p>{{categoryDetails.title}}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-3">
              <span class="media-heading font-weight-bold">Description :</span>
            </div>
            <div class="col-lg-9">
              <p>{{categoryDetails.description}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3">
              <span class="media-heading font-weight-bold">Price :</span>
            </div>
            <div class="col-lg-9">
              <i class="fa fa-inr" aria-hidden="true"></i> 
              &#8377; {{categoryDetails.price}}
            </div>
          </div>
        </div>



      </div>
    </div>

  </div>
</div>
